.title {
  color: #d6184c;
  font-family: monospace;
}

.left,
.right {
  display: flex;
  width: 400px;
  flex-direction: column;
}

.content {
  font-family: monospace;
  display: flex;
  padding: 20px;
  column-gap: 200px;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px;
  font-family: monospace;
}
